.projectsBlock {
    min-height: 100vh;
}

.containerProjects {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.titleProjects {
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 72px;
    color: #1F2937;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}