.projectsBlock {
    min-height: 100vh;
}

.containerProjects {
    width: 80%;
    margin: 0 auto;
}

.titleProjects {
    font-style: inherit;
    font-weight: 300;
    font-size: 31px;
    line-height: 72px;
    color: #1F2937;
    text-align: center;
    margin-bottom: -75px;
}

.projects {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 924px) {
    .projects {
        width: 100%;
        justify-content: center;
    }
}