.mainBlock {
    height: 100vh;
    background-color: #4ca9ff;
}

.containerMain {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.greetings {
    width: 300px;
    background-color: #ffffff;
}

.photoMain {
    width: 300px;
    height: 400px;
    background-color: #ffffff;
}


@media (max-width: 750px) {
    .containerMain {
        justify-content: center;
    }
}