.skillsBlock {
    min-height: 100vh;
    background-color: #ff9d79;
}

.containerSkills {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.titleSkills {
    background-color: #c9c9c9;
}

.skillsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 624px) {
    .skillsWrapper {
        justify-content: center;
    }
}