.skillsBlock {
    min-height: 100vh;
    background-color: #FEF2F2;
}

.containerSkills {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.titleSkills {
    background-color: #c9c9c9;
}

.skillsWrapperContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*align-items: center;*/
}

.skillsWrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrapperContainerCV {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.wrapperContainerCV a {
    text-decoration:none;
    color: #4338CA;
}

.wrapperContainerCV a:hover {
    border-bottom: 1px solid #4338CA;
}
.textCV{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #6B7280;
}

@media (max-width: 624px) {
    .skillsWrapper {
        justify-content: center;
    }
}