.project {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #3730a3;
    border-radius: 6px;
    opacity: 0.8;
    height: 400px
    /*height: 350px;*/
}

.project:hover {
    opacity: 1;
}

.iconProject {
    width: 100%;
    align-items: center;
    position: relative;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -20px;
    color: #6B7280;
    font-size: 30px;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    position: absolute;
    border-radius: 3px 0 0 3px;
    left: 0;
}

.iconProject img {
    width: 100%;
    height: 100%;
}

.titleProject {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #1F2937;
}

.description {
    display: flex;
    align-items: center;
    text-align: left;
}

.description img {
    cursor: pointer;
}

.descriptionText {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
}

.stackText {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    background-color: #3730A3;
    margin-right: 5px;
    padding: 2px;
    border-radius: 3px;
}

.linkCV img:hover{
    background-color: #EEEBFF;
    border-radius: 50%;
}