.project {
    width: 300px;
    /*background-color: #b91818;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    /*padding-bottom: 20px;*/
    /*padding: 5px;*/
    border: 1px solid #3730a3;
    border-radius: 6px;
}

.iconProject {
    width: 100%;
    height: 200px;
    /*background-color: #e0ffe6;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    /*background-image: url("https://github.com/NastassiaMikhalenka/new-year-game/raw/master/src/assets/NewYear2.jpeg");*/
    background-size: cover;
    background-position: center;
    /*margin-bottom: 20px;*/
}
.iconProject img{
    width: 100%;
    height: 100%;

    /*background-size: cover;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    margin-bottom: 20px;
}

.description{
    /*border: 1px solid #3730a3;*/
    display: flex;
    align-items: center;
    /*padding: 5px;*/
    text-align: left;
}

.description img{
    cursor: pointer;
}