.project {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #3730a3;
    border-radius: 6px;
}

.iconProject {
    width: 100%;
    align-items: center;
    position: relative;
    opacity: 0.7;
}

.iconProject:hover{
    opacity: 1;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    color: #6B7280;
    font-size: 30px;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    position: absolute;
    border-radius: 3px 0 0 3px;
    left: 0;
}


.iconProject img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.description {
    display: flex;
    align-items: center;
    text-align: left;
}

.description img {
    cursor: pointer;
}