.navigation {
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.navigation a {
    text-decoration: none;
    outline: 0;
    color: #6B7280;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    border-bottom: 1px solid white;
}

.navigation a:hover {
    border-bottom: 1px solid #4338CA;
}

