.navigation {
    /*border: 1px solid;*/
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.navigation a {
    text-decoration: none;
    outline: 0;
    color: #6B7280;
}

.navigation a:hover {
    border-bottom: 1px solid #4338CA;
}

