.footerBlock {
    background-color: #FEF2F2;
}

.containerFooter {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.titleFooter {
    font-style: inherit;
    font-weight: 300;
    font-size: 31px;
    line-height: 72px;
    color: #1F2937;
    text-align: center;
}

.btnUp {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.btnUp img {
    cursor: pointer;
}


.linksWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.linksWrapper img {
    width: 75px;
    height: 75px;
}

.linkContainer {
    border-bottom: 1px solid #FEF2F2;
}

.linkContainer:hover {
    border-bottom: 1px solid #6860d3;
}
